body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #f0f8ff;
  font-family: Arial, sans-serif;
}


/* 
#6CE5E8
#004AAD
#38A37F
#FFFFFF
 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure content stays above the background */
}

.logo {
  display: block;
  margin-left: 20px;
  width: 280px; /* Adjust the width as needed */
  height: auto;
}


.title {
  font-size: 38px;
  color: #000; /* Fun and engaging color */
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.main-button, .secondary-button {
  padding: 10px 14px;
  margin: 10px 0;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1; /* Ensure buttons stay above background */
}

.main-button {
  background-color: #004AAD;
  color: white;
  transition: background-color 0.3s ease;
}

.main-button:hover {
  background-color: #001d44;
}

.secondary-button {
  background-color: #5697cc;
  color: white;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 20px;
  z-index: 1; /* Ensure button stays above background */
}

.secondary-button:hover {
  background-color: #4682b4;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; /* Ensure background stays behind other elements */
}

.shape {
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
}

.shape1 {
  width: 100px;
  height: 100px;
  background: #ff4500;
  top: 10%;
  left: 15%;
}

.shape2 {
  width: 150px;
  height: 150px;
  background: #32cd32;
  bottom: 20%;
  right: 10%;
}

.shape3 {
  width: 120px;
  height: 120px;
  background: #1e90ff;
  top: 50%;
  left: 60%;
}

.size-6 {
  width: 40px;
  height: 40px;
}